/* reminder data css */
.reminders {
    padding: 4rem 0;
}

// reminder box css
.reminderBox {
    background: #dfe2ff;
    border: 0.1rem solid #ccc;
    padding: 2rem 3rem;
    border-radius: 0.4rem;
    position: relative;
    height: 100%;


    .expireSoon {
        position: absolute;
        top: -1px;
        left: -1px;
        width: 10px;
        height: 10px;
        background: red;
        display: none;
        &.enable{
            display: inline-block;
        }
    }

    strong {
        color: #a413b9;
        display: block;
        margin-bottom: 1rem;
        padding-right: 3.5rem;
    }

    /* actions */
    .actions {
        position: absolute;
        top: 1rem;
        right: 1.5rem;

        .btn {
            color: #8a7e7e;
            margin-left: 0.7rem;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                color: #000;
            }
        }
    }
}